---
name: build

on:
  push:
  pull_request:
  repository_dispatch:
    types: [apb]

env:
  PIP_CACHE_DIR: ~/.cache/pip
  PRE_COMMIT_CACHE_DIR: ~/.cache/pre-commit

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: setup-python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Cache linting environments
        uses: actions/cache@v2
        with:
          path: |
            ${{ env.PIP_CACHE_DIR }}
            ${{ env.PRE_COMMIT_CACHE_DIR }}
          key: |
            lint-${{ runner.os }}-\
            py${{ steps.setup-python.outputs.python-version }}-\
            ${{ hashFiles('**/requirements-test.txt') }}-\
            ${{ hashFiles('**/requirements.txt') }}-\
            ${{ hashFiles('**/.pre-commit-config.yaml') }}"
          restore-keys: |
            lint-${{ runner.os }}-\
            py${{ steps.setup-python.outputs.python-version }}-
            lint-${{ runner.os }}-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade --requirement requirements-test.txt
      - name: Set up pre-commit hook environments
        run: pre-commit install-hooks
      - name: Run pre-commit on all files
        run: pre-commit run --all-files
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache testing environments
        uses: actions/cache@v2
        with:
          path: ${{ env.PIP_CACHE_DIR }}
          key: "test-${{ runner.os }}-\
            py${{ matrix.python-version }}-\
            ${{ hashFiles('**/requirements-test.txt') }}-\
            ${{ hashFiles('**/requirements.txt') }}"
          restore-keys: |
            test-${{ runner.os }}-\
            py${{ matrix.python-version }}-
            test-${{ runner.os }}-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade --requirement requirements-test.txt
      - name: Run tests
        env:
          RELEASE_TAG: ${{ github.event.release.tag_name }}
        run: pytest
      - name: Upload coverage report
        run: coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        if: success()
  build:
    runs-on: ubuntu-latest
    needs: [lint, test]
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache building environments
        uses: actions/cache@v2
        with:
          path: ${{ env.PIP_CACHE_DIR }}
          key: "build-${{ runner.os }}-\
            py${{ matrix.python-version }}-\
            ${{ hashFiles('**/requirements.txt') }}"
          restore-keys: |
            build-${{ runner.os }}-\
            py${{ matrix.python-version }}-
            build-${{ runner.os }}-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install --upgrade --requirement requirements.txt
      - name: Build artifacts
        run: python3 setup.py sdist bdist_wheel
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist-${{ matrix.python-version }}
          path: dist
  build_lambda:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - id: setup-python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Cache lambda building environments
        uses: actions/cache@v2
        with:
          path: ${{ env.PIP_CACHE_DIR }}
          key: "build_lambda-${{ runner.os }}-\
            py${{ steps.setup-python.outputs.python-version }}-\
            ${{ hashFiles('**/requirements.txt') }}"
          restore-keys: |
            build_lambda-${{ runner.os }}-\
            py${{ steps.setup-python.outputs.python-version }}-
            build_lambda-${{ runner.os }}-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install --upgrade --requirement requirements.txt
      - name: Build environment
        run: docker-compose build
      - name: Generate lambda zip
        run: docker-compose up
      # We have to unzip the produced lambda zip because of limitations with the
      # GitHub UI. Any files uploaded are packaged into a single zip to allow a
      # user to download the artifacts of a build. This issue:
      # https://github.com/actions/upload-artifact/issues/14
      # is the best source for possible updates. Once the UI is updated we will
      # most likely be able leverage the functionality of upload-artifact v2(+)
      # to upload a single file as an artifact.
      - name: Unzip produced zip
        run: unzip skeleton-aws-lambda.zip -d lambda_zip_contents
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: "skeleton-aws-lambda-\
            py${{ steps.setup-python.outputs.python-version }}"
          path: lambda_zip_contents/
